In [40]:
# Invocaci√≥n de clases para cargar datos sin preocuparse por encoding
from data_loader import load_data, load_and_clean
import pandas as pd

# Cargar cualquier archivo sin preocuparte por encoding
df = load_data('online_retail.csv')

# Seleccionar una fila
first_row = df.iloc[:6, :3]
first_row

# first_column = df.iloc[: ,1]
# first_column

üìä Separador detectado: ','
üî§ Encoding detectado: ascii (100.0% confianza)
‚ö†Ô∏è Error de encoding, intentando con latin-1

  InvoiceNo StockCode                          Description
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER
1    536365     71053                  WHITE METAL LANTERN
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.
5    536365     22752         SET 7 BABUSHKA NESTING BOXES

In [41]:
retail_value = df.iloc[0, 2]
retail_value

'WHITE HANGING HEART T-LIGHT HOLDER'

In [42]:
row_index = df.loc[0:4]
row_index

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [43]:
df_copy = df["StockCode"]
df_copy[1]

'71053'

In [44]:
df_copy = df["StockCode"]

# 2. LA SOLUCI√ìN EN UNA L√çNEA:
#    a. Convertimos la columna a string para poder buscar el car√°cter '7'
#    b. Usamos .str.count('7') para contar las apariciones en cada fila
#    c. Sumamos el total de las cuentas
total_sietes = df['StockCode'].astype(str).str.count('7').sum()

print(f"El n√∫mero 7 aparece un total de {total_sietes} veces en la columna.")

El n√∫mero 7 aparece un total de 180372 veces en la columna.